@use 'base/variables' as v;
@use 'base/mixins' as m;


.notavif .notwebp .horario{
    background-repeat: no-repeat;
    background-position: center, center bottom;
    background-size: 100%, cover;
    background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, transparent 50%),url(../img/bg_horarios.jpg);
    @include m.tablet{  
        background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, transparent 50%),url(../img/bg_horarios.jpg);
        background-position: center, top right;
    }
}
.webp .horario{
    background-repeat: no-repeat;
    background-position: center, center bottom;
    background-size: 100%, cover;
    background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, transparent 50%),url(../img/bg_horarios.webp);
    @include m.tablet{  
        background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, transparent 50%),url(../img/bg_horarios.webp);
        background-position: center, top right;
    }
}
.avif .horario{
    background-repeat: no-repeat;
    background-position: center, center bottom;
    background-size: 100%, cover;
    background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, transparent 50%),url(../img/bg_horarios.avif);
    @include m.tablet{  
        background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, transparent 50%),url(../img/bg_horarios.avif);
        background-position: center, top right;
    }
}
.horario{
    &__grid{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        @include m.tablet{  
            grid-template-rows: unset;
            @include m.grid(2,5rem);
        }
    }
    &__contenido{
        padding: 5rem 0;
    }
    &__heading{
        @include m.heading;
    }
    &__texto{
        color: v.$blanco;
        font-size: 2.2rem;
        line-height: 1.8;
        text-align: center;
    }
}

.tabla{
    width: 100%;
    text-align: center;
    color: v.$blanco;
    border: .5rem solid v.$secundario;
    border-collapse: collapse;
    &__th{
        padding: 2rem;
        background-color: v.$secundario;
    }    
    &__tr{
        &:hover{
            background-color: darken(v.$primario, 5%);
        }
    }
    &__td{
        font-size: 2rem;
        padding: 1rem;
    }
}