@use 'base/variables' as v;
@use 'base/mixins' as m;

.productos{
    &__heading{
        @include m.headingCursiva;
    }
    &__grid{
        @include m.grid(1,2rem);
        @include m.tablet{  
            @include m.grid(2,2rem);
        }
        @include m.desktop{  
            @include m.grid(4,2rem);
        }
    }
}
.producto{
    &__imagen-contenedor{
        overflow: hidden;
    }
    &__contenido{
        background-color: v.$blanco;
        padding: 2rem;
    }
    &__imagen{
        width: 100%;
        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__heading{
        @include m.heading;
        color: v.$secundario;
        font-size: 2.4rem;
    }
    &__texto{
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 1.8;
    }
    &__precio{
        color: v.$gris;
        font-size: 3rem;
        text-align: center;
        margin: 0 ;
    }
}